
.home-container {
    width: 100%;
    margin: 60px 10px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container span {
    color: blue;
}

button {
    padding: 10px;
    margin: 20px;
    width: 80px;
    background-color: aqua;
    border-width: 0px;
}
